---
import Layout from "../layouts/Layout.astro";
import { db } from "../db/db";
import { files } from "../db/schema";
import Form from "../components/Form.svelte";

const results = await db.select().from(files);
console.log(results);
---

<Layout title="Word FS">
  <main class="bg-neutral-950">
    <section
      class="w-screen h-screen flex flex-col justify-center items-center gap-4"
    >
      <Form client:load />
      <a href="/get">
        <button class="text-white bg-slate-900 w-36 px-4 py-2 rounded">
          Get
        </button>
      </a>
    </section>
  </main>
</Layout>
